.footer {
  padding: 15px 0 15px 350px;
  background-color: rgb(237, 237, 237);

  @media (max-width: 768px) {
    padding: 15px 0 15px 20px;
  }
}

.footer-nav {
  /* @apply padding-y-30 md:padding-y-10; */
  @apply text-xs;

  &-list {
    @apply flex gap-2;
    /* @apply md:gap-15; */
  }
}