.page-container {
   display: flex;
   padding: 30px;

   @media (max-width: 768px) {
      flex-direction: column;
   }
}

.mobile-menu-open {
   display: block;
   z-index: 200000;
   background-color: white;
   height: 100vh;
}

.mobile-menu-closed {
   display: none;
}

.navigation-wrapper {

   @media (max-width: 768px) {
      width: 100%;
   }

   .mobile-menu-toggle {
      display: none;

      @media (max-width: 768px) {
         display: block;
         padding-bottom: 30px;
      }

      .mobile-menu-container {
         inset-inline-start: 0;
         position: fixed;
         z-index: 1001;

         .mobile-menu {
            width: 100vw;
            word-wrap: break-word;
            block-size: 100%;
            display: flex;
            flex-direction: column;
            inset-block-end: 0;
            overflow-x: hidden;
            overflow-y: auto;
            overscroll-behavior-y: contain;
            pointer-events: auto;
            position: relative;
         }

         .mobile-navigation-content {
            -webkit-font-smoothing: auto;
            -moz-osx-font-smoothing: auto;
            border-collapse: separate;
            border-spacing: 0;
            box-sizing: border-box;
            caption-side: top;
            cursor: auto;
            direction: inherit;
            empty-cells: show;
            font-family: serif;
            font-stretch: normal;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            -webkit-hyphens: none;
            hyphens: none;
            letter-spacing: normal;
            list-style: disc none outside;
            min-inline-size: 0;
            tab-size: 8;
            text-align: start;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-break: break-word;
            word-spacing: normal;
         }
      }
   }

   .navigation-container {
      @media (max-width: 768px) {
         display: none;
      }

      position: sticky;

      .navigation {
         display: flex;
         flex-direction: column;
         inset-block-end: 0;
         pointer-events: auto;

         div[role=treeitem] {

            span,
            a {
               cursor: pointer;
               transition: all .2s ease-in-out;
               padding: 5px;

               &:hover {
                  color: blue;
               }
            }
         }

         .text-content-container {
            -webkit-font-smoothing: auto;
            -moz-osx-font-smoothing: auto;
            border-collapse: separate;
            border-spacing: 0;
            box-sizing: border-box;
            caption-side: top;
            color: #16191f;
            cursor: auto;
            direction: inherit;
            empty-cells: show;
            font-family: serif;
            font-size: 14px;
            font-stretch: normal;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            -webkit-hyphens: none;
            hyphens: none;
            letter-spacing: normal;
            line-height: 22px;
            list-style: disc none outside;
            tab-size: 8;
            text-align: start;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal;
         }
      }
   }
}