.navigation-link {
  font-size: 0.75rem;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.navigation-tree {
  div {
    font-size: 0.75rem;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }

    a {
      padding: 5px 10px;
    }
  }
}